@charset "utf-8";
/*register page*/
.boldborder{
	border:4px solid #09F;
	width: 70%;
	margin:100px auto;
	padding: 30px;
	-moz-border-radius: 20px;
    	-webkit-border-radius: 20px;
}
.formbutton{
	width:30%;
	background: #09F;
	color: #FFFFFF;
	font-weight: bold;
	margin-right:10px;
}
.formbutton:hover{
	background: #31ADFF;
}
.distance{
	margin-top: 50px;
}
/*register end*/

/*login page*/
.login_boldborder{
	border:4px solid #09F;
	width: 35%;
	margin-top: 150px;
	margin-right:-100px; 
	padding: 60px;
	-moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}
.login_button{
	width:100%;
	font-size:15px;
	background: #09F;
	color: #FFFFFF;
	font-weight: bold;
}
.not_register_a{
}
/*login  end*/